* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    width: 600px;
    height: 200px;
    background-color: red;
}

.box2 {
    max-width: 600px;
    height: 200px;
    background-color: blue;
}

.box3 {
    min-width: 600px;
    height: 200px;
    background-color: orange;
}