.container {
    width: 300px;
    height: 200px;
    background-color: yellow;
    /* margin: 10px 30px 50px 80px; */
    /* margin: top right bottom left; */
    margin: 50px 100px; /* top-bottom left-right */
    /* margin: 300px; */
}

.container h1 {
    text-align: center;
    padding: 50px;
}

/* comment */